

<% categories = ['science', 'technology', 'humanities']  %>

<h2>Posts</h2>

<ul>
  <% categories.each do |category| %>
    <li><%= category.capitalize %></li>
  <% end %>
</ul>

<ul>
  <% @posts.each do |post| %>
    <li><%= post[1][:title] %></li>
  <% end %>
</ul>
